/* Oculta el ícono nativo en WebKit (Chrome, Safari, Edge) */
input[type="search"]::-webkit-search-cancel-button { /* Oculta el botón de cancelar en campos de búsqueda */
  -webkit-appearance: none;
}

.contenedor-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  margin-bottom: 20px;
}

.contenedor-input {  
  display: flex;
  align-items: center;
  width: 60%;
  height: 30px;
  border-radius: 8px;  
  background-color: #090a098d;  
  box-shadow: 2px 1px 10px 8px #dfe0a5;  
}

.contenedor-input:disabled {
  opacity: 25%;
}

.text-input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;   
  padding-left: 10px;
  color: #fff;
  font-weight: 900;
  font-family: var(--fuente-content); 
}

.btn-clear {
  background: transparent;  
  color: #fff;
  border: none;
  padding: 10px;
}

.contenedor-input::placeholder {
  color: #fff;
  font-weight: 900;
  font-family: var(--fuente-content);
}

.contenedor-input:hover {
  box-shadow: 2px 1px 10px 8px #5d733d;
}

.contenedor-input:hover::placeholder {
  color: #dfe0a5;
}
