.contenedor-formulario {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #00000059;
  border-radius: 20px;
}

.title-nueva-tarea {
  font-family: var(--fuente-title);
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.contenido-de-tarea {
  width: 76%;
  height: 50%;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  outline: none;
  background: #00000059;
  color: #fff;
  border: 1px solid #fff;
  resize: none; /* Evita que el usuario pueda redimensionar el textarea */
}

.contenido-de-tarea::placeholder {  
  color: #fff;
  font-family: var(--fuente-content); 
}

.contenedor-button-modal {
  display: flex;
  justify-content: center; 
  align-content: center;
  flex-wrap: wrap;
  width: 100%
}

.personal-button {
  border-radius: 8px;
  width: 90px;
  height: 40px;
  color: #fff;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.button-cancel {
  background-color: #ff00008c;  
}

.button-add {
  background-color: #008000a8;
}

.button-cancel:hover {
  background-color: #ff0000;  
}

.button-add:hover {
  background-color: #008000;
}
