.contenedor-ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-li {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 80%;
  height: 30px;
  margin: 20px;
  list-style: none;
  border: 2px solid #dfe0a5;
  border-radius: 8px;
  padding: 0 8px;  
}

.contenedor-p {
  display: flex;
  flex-grow: 1; /* - se expande para ocupar todo el espacio que queda libre entre los otros elementos*/
  font-family: var(--fuente-content);
  font-weight: 900;
  overflow: hidden;         /* Oculta cualquier contenido que se salga del contenedor */
  text-overflow: ellipsis;  /* Si el texto se desborda, muestra "..." al final */
  white-space: nowrap;      /* Evita que el texto se divida en varias líneas */
}

.fa-x, .fa-check {
  cursor: pointer;
}

.fa-x:hover{
  color:  #ff0000;
}

.fa-check:hover {
  color: #09ff00;
}