.contenedor-input {
  width: 80%;
  height: 30px;
  border-radius: 8px;
  padding-left: 10px;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: 2px 1px 10px 8px #dfe0a5;
}

.contenedor-input::placeholder {
  color: #5d733d;
  font-weight: 900;
  font-family: var(--fuente-content);
}

.contenedor-input:hover {
  box-shadow: 2px 1px 10px 8px #5d733d;
}

.contenedor-input:hover::placeholder {
  color: #dfe0a5;
}
