.empty-taskss {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10%;
}

.img-vaciaa {
  width: 50%;
}

.text-vacioo {
  margin: 20px;
  color: #2ea2db;
  font-size: 2rem;
  text-shadow: 4px 5px 7px #fff;
}