:root {
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/imagenes/fondo.png');

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Queda fijo al hacer scroll */
  background-color: rgb(255 255 255 / 14%); /*aqui puedes cambiar el color de fondo en este caso a blanco con 14% de opacidad*/
  background-blend-mode: overlay; /* este es el modo de mezcla del fondo de la imagen con el color de fondo de la imagen */
}

.contenedor-h1 {
  width: 100%; 
}

.Contenedor-componentes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 80vh;
  position: relative;
  border: 2px solid #dfe0a5;
  border-radius: 20px;
}
.Contenedor-componentes:hover {
  border: 2px solid #5d733d;
}
